<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Error.css" type="text/css">
</head>
<body>
    <section>
        <div class="main-content">
            <div class="error">
                <h1 class="error-number"><%= data.error %></h1>
                <h1>OOPS!</h1>
                <h4>Error <%= data.error %> - <%= data.errMessage %></h4>
            </div>
            <div class="home-button">
                <a class="button" href="/">
                     home
                </a>
            </div>
        </div>
    </section>
</body>
</html>