<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <section class="Login-box">
        <h1>Login</h1>
        <form class="login-form" action="/auth/login" method="post">


            <label>UserName</label>
            <input type="text" name="username">

            <label>Email</label>
            <input type="email" name="email">

            <label>Password</label>
            <input type="password" name="password">
            <p class="err"><%=data.message%></p>
            <input type="hidden" name="referer" value= <%= data.referer %> >
            <button type="submit" id="" class="submit-button">submit</button>

        </form>
    </section>?

    <p class="">Not have an account? <a href="Sign-up">Sign Up</p></a>



</body>

</html>