<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <style>
        .error {
          color: red;
        }
      </style>
</head>

<body class="sign">
    <section class="SignUp-Box">
        <h1>Login</h1>
        <form class="form-signup" action="/auth/login" method="post">


            <label>Username</label>
            <input type="text" name="username" id="username" oninput="validateUsername()">
            <em id="usernameError" class="error"></em>

            <label>Email</label>
            <input type="email" name="email" id="email" oninput="validateEmail()">
            <em id="emailError" class="error"></em>

            <label>Password</label>
            <input type="password" name="password" id="password" oninput="validatePassword()">
            <em id="passwordError" class="error"></em>

            <p class="err"><%=data.message%></p>
            <input type="hidden" name="referer" value= <%= data.referer %> >
            <button type="submit" id="" class="submit-button">submit</button>

        </form>
        <br>
        <p>By clicking the Sign up button, you agree to our <br> <a href="#">Terms And Conditions</a> and <a
                href="Login">Policy And Privacy</a></p>

    </section>
    <br>
    <p class="paragraph-2">Don't have an account? <a href="Sign-up">Sign Up</p></a>

    <script>
        function validateUsername() {
          const username = document.getElementById('username').value;
          const usernameError = document.getElementById('usernameError');
          
          if (username.length < 5) {
            usernameError.textContent = 'Username must be at least 5 characters';
          } else {
            usernameError.textContent = '';
          }
        }
    
        function validatePassword() {
            const password = document.getElementById('password').value;
            const passwordError = document.getElementById('passwordError');
            let containsUpper = false;
            let containsNum = false;

            if (password.length < 8) {
                passwordError.textContent = 'Password must be at least 8 characters';
            } else {
    
                for (let i = 0; i < password.length; i++) {
                    if (password.charAt(i) === password.charAt(i).toUpperCase()) {
                        containsUpper = true;
                    } else if (!isNaN(password.charAt(i))) {
                        containsNum = true;
                    }
                }

                if (!containsUpper) {
                    passwordError.textContent = 'Password must contain at least 1 uppercase letter';
                } else if (!containsNum) {
                    passwordError.textContent = 'Password must contain at least 1 number';
                } else {
                    passwordError.textContent = '';
                }
            }
        }

        function validateEmail() {
            const email = document.getElementById('email').value;
            const emailError = document.getElementById('emailError');
          
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (email.length === 0) {
                emailError.textContent = 'Email is required';
            } else if (!emailRegex.test(email)) {
                emailError.textContent = 'Please enter a valid email address';
            } else {
                emailError.textContent = '';
            }
        }
      </script>

</body>

</html>