<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/test.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../public/images/book.jpg" alt="">
        </div>
        <div class="details-container">
            <h2>title</h2>
            <h5>by <span>Author</span></h5>
            <h4>Price</h4>
            <div class="cta">
                <form action="">
                    <button class="buy">Buy</button>
                </form>
                
                <form action="">
                    <button class="add-to-cart">Add to cart</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>